<nav class="classic-nav">
  <a class="nav-link" routerLink="/">Home</a>
  <a class="nav-link" routerLink="/students">Students</a>
  <a class="nav-link" routerLink="/about">About</a>
</nav>
<router-outlet></router-outlet>
<footer class="classic-footer">
  <div class="footer-container">
    <div class="footer-left">
      <p>&copy; 2024 AyariAhmed. All rights reserved.</p>
    </div>
    <div class="footer-center">
      <p></p>
    </div>
    <div class="footer-right">
      <p>Privacy | Terms | Contact</p>
    </div>
  </div>
</footer>